**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.angular
**/dist
**/.env
**/secrets.json
tests
Docs
certs
*.md
src/GooseWebsite.Api/Data
src/GooseWebsite.Api/data-protection-keys
src/GooseWebsite.Api/wwwroot
